body {
  font-family: "GMarketSans", sans-serif;
  color: #2F2F2F;
  font-size: 16px;
}

.inner {
  max-width: 1440px;
  margin: 0 auto;
}

.sub-page-wrap {
  margin: 500px 0;
}

section {
  margin-top: 150px;
}

.section-title-box {
  margin: 0;
  margin-bottom: 40px;
}

.section {
  gap: 150px;
}

.swiper-pagination {
  position: absolute !important;
  right: 0px !important;
  left: 190px !important;
  bottom: 10px !important;
  transform: none !important;
}

.swiper-pagination-bullet {
  width: 40px;
  height: 10px;
  border-radius: 0;
  background-color: #E4E4E4;
}
.swiper-pagination-bullet.swiper-pagination-bullet-active {
  background-color: rgba(255, 255, 255, 0.7);
  width: 70px;
}

.all {
  height: 100%;
  padding: 0;
  display: flex;
  justify-content: space-between;
  align-items: 20px;
  gap: 20px;
  flex: 1;
}
.all .left {
  width: 50%;
  height: 100%;
}
.all .left .swiper {
  width: 100%;
  height: 100%;
}
.all .left .swiper-slide {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}
.all .left img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.all .right {
  padding: 0;
  width: 50%;
  height: 100%;
  display: flex;
  flex-direction: column;
  gap: 24px;
}
.all .right ul {
  text-align: center;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 65px;
  width: 100%;
  opacity: 1;
  transform: translateY(0);
  transition: all 0.4s ease;
}
.all .right ul.fade {
  opacity: 0;
  transform: translateY(10px);
}
.all .right ul .price {
  color: #585858;
}
.all .right ul .name {
  color: #2F2F2F;
}
.all .right ul li {
  cursor: pointer;
}
.all .right ul li .img {
  width: 40%;
}
.all .right button {
  color: #2F2F2F;
  margin-top: auto;
  margin-bottom: 0px;
  display: block;
  margin: 50px auto 0;
  background: #fff;
  border-radius: 1px solid #000;
  width: 210px;
  height: 40px;
  cursor: pointer;
}
.all .right button:hover {
  background: linear-gradient(white, white) padding-box, linear-gradient(to right, rgb(108, 157, 235), rgb(244, 122, 122)) border-box;
  border: 2px solid transparent;
}