@use "../../App.scss" as g;

.bp-wrap {

    .bp-scrollbar {
        width: 100%;
        height: 3px;
        background: #ddd;
        cursor: grab;
        margin-top: 8px;

        .swiper-scrollbar-drag {
            height: 100%;
            background: #111;
            border-radius: 0;
        }
    }

    .all {
        padding: 0;
        height: 100%;
        @include g.myFlex($jc: normal, $ai: normal);
        flex: 1;

        .left {
            height: 100%;
            width: 50%;

            .swiper {
                width: 100%;
                height: 100%;
            }

            img {
                width: 720px;
                aspect-ratio: 1/0.83;
                object-fit: cover;
            }
        }

        .right {
            @include g.myFlex($fd: column, $jc: end);
            width: 100%;

            ul {
                font-family: "Pretendard", sans-serif;
                text-align: center;
                display: grid;
                grid-template-columns: repeat(2, 1fr);
                row-gap: 50px;
                opacity: 1;
                width: 100%;

                &.fade {
                    opacity: 0;
                }

                .price {
                    color: g.$text-sub;
                }

                .name {
                    color: g.$text-main;
                    font-weight: 700;
                    @include g.multi-ellipsis($lines: 1);
                    max-width: 160px;
                    margin: 0 auto;
                }

                li {
                    cursor: pointer;

                    img {
                        width: 180px;
                    }
                }
            }

            button {
                font-size: 0.88em;
                color: g.$text-main;
                width: 260px;
                display: block;
                margin: 0 auto;
                background: #fff;
                border: 1px solid #2d2d2d;
                height: 40px;
                cursor: pointer;

                &:hover {
                    background: linear-gradient(white, white) padding-box,
                        linear-gradient(to right, rgb(108, 157, 235), rgb(244, 122, 122)) border-box;
                    border: 2px solid transparent;
                }
            }
        }
    }
}