@use "../../App.scss" as g;

section {
    gap: g.$section-gap;
}

.collab-wrap {
    background: url("./images/waveBg-gray.png") no-repeat;
    background-size: cover;
    background-position: center;
}

.card {
    border: 1px solid green;
    display: flex;
    flex-direction: column;
    background: #fff;

    .card-content {
        border: 3px dashed red;
        display: flex;
        gap: 10px;
        align-items: center;

        >img {
            border-radius: 50%;
            max-width: 24px;
            max-height: 24px;
        }
    }
}