@use "../../App.scss" as g;

.custom-wrap{
    .all {
        .right {
            gap: unset;
            ul{
                row-gap: 10px;
            }
            button {
                margin-top: 10px;
            }
        }
    }
}
