.travel {
    margin: 0 auto;

    .travel-video {
        position: relative;
        width: 100%;
        height: 80vh;
        overflow: hidden;

        p {
            .travel-play-btn {
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                width: 80px;
                height: 80px;
                border-radius: 50%;
                border: none;
                font-size: 30px;
                cursor: pointer;
                background: rgba(0, 0, 0, 0.5);
                color: #fff;
            }
        }

        .travel-bg {
            width: 100%;
            height: 80vh;
            object-fit: cover;
            display: block;
        }

        .travel-player {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            object-fit: cover;
            display: none;
        }

        .travel-text {
            position: absolute;
            right: 4%;
            top: 50%;
            transform: translateY(-50%);
            color: white;

            h2 {
                font-size: 48px;
            }

            p {
                font-size: 24px;
            }
        }
    }
}