@use "../../App.scss" as g;

.new-arrival {

    .inner {
        margin-top: 36px;

        .new-arr-inner-wrap {
            @include g.myFlex($ai: center, $gap: 60px);

            .new-arr-list {
                flex-basis: 45%;
                @include g.myFlex($fd: column, $ai: normal, $gap: 100px);

                .arr-item {
                    @include g.myFlex($jc: normal, $gap: 16px);

                    img {
                        display: none;
                    }

                    &.active {
                        img {
                            display: block;
                        }

                        p {
                            color: g.$text-main;

                            &.denim {
                                -webkit-text-stroke: #11419c;
                                color: #11419c;
                            }

                            &.yellow {
                                -webkit-text-stroke: #d2b452;
                                color: #d2b452;
                            }

                            &.red {
                                -webkit-text-stroke: #7F1D20;
                                color: #7F1D20;
                            }

                            &.pink {
                                -webkit-text-stroke: #EACAD6;
                                color: #EACAD6;
                            }
                        }

                    }

                    >p {
                        font-size: 40px;
                        font-weight: 700;
                        color: white;
                        -webkit-text-stroke: 1.5px g.$text-main;
                        text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.2);
                    }
                }
            }

            .new-arr-img-box {
                flex-basis: 55%;
            }
        }
    }
}