@use "../../App.scss" as g;

.quality-card-wrap {
    @include g.myFlex();
    padding: 10px;

    .quality-card {
        position: relative;
        flex: 1;
        overflow: hidden;
        // 평행사변형 처리
        clip-path: polygon(10% 0, 100% 0, 90% 100%, 0% 100%);

        &:first-child {
            clip-path: polygon(0 0, 100% 0, 90% 100%, 0% 100%);
        }

        &:last-child {
            clip-path: polygon(10% 0, 100% 0, 100% 100%, 0% 100%);
        }

        .text-box {
            white-space: pre-line;
            position: absolute;
            text-align: center;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            color: white;
            font-size: 24px;
            line-height: 1.5;
        }
    }
}