@use "../../App.scss" as g;

.section-title-box {
    text-align: center;

    .section-title {
        font-size: 2.5em;
    }

    .section-sub-title {
        font-size: 1.5em;
        color: g.$text-sub;
    }
}