@use "../../App.scss" as g;

.studio-info {
    margin-top: g.$section-gap;

    .bg {
        position: relative;
        // border: 2px solid red;


        &::after {
            content: "";
            background-image: url("./images/waveBg-yellow.png");
            background-position-x: center;
            background-repeat: no-repeat;
            background-size: cover;
            width: 100%;
            display: block;
            position: absolute;
            top: 55%;
            left: 0;
            transform: translateY(-50%);
            aspect-ratio: 90 / 40;
            z-index: -1;
        }
    }

    .inner {
        @include g.myFlex($jc: center, $ai: center, $gap: 60px);
        // margin-top: 36px;

        >div {
            flex: 1;
        }

        .img-box {
            border-radius: 20px;
            overflow: hidden;
        }

        .txt-box {
            @include g.myFlex($fd: column, $ai: normal);
            padding-right: 60px;

            h3 {
                font-size: 1.75em;
            }

            .stdio-feature {
                font-size: 1.5em;
                margin-top: 24px;
                margin-bottom: 16px;
            }

            .studio-search {
                display: block;
                margin: 0 auto;
                background: white;
                text-align: center;
                padding: 10px 160px;
                // 그라디언트 선 색상
                border-width: 2px;
                border-style: solid;
                border-image: linear-gradient(to right, #F7A093, #135EAB) 1;
            }
        }
    }
}