@use "../../App.scss" as g;

.studio-info {
    margin-top: g.$section-gap;
    position: relative;

    &::after {
        content: "";
        background-image: url("./images/waveBg-yellow.png");
        background-position-x: center;
        background-repeat: no-repeat;
        background-size: cover;
        width: 100%;
        height: 851px;
        display: block;
        position: absolute;
        top: 80px;
        left: 0;
        z-index: -1;
    }

    .inner {
        @include g.myFlex($jc: center, $ai: center, $gap: 60px);
        margin-top: 36px;

        >div {
            flex: 1;
        }

        .img-box {
            border-radius: 20px;
            overflow: hidden;
        }

        .txt-box {
            @include g.myFlex($fd: column, $ai: normal);
            padding-right: 60px;

            h3 {
                font-size: 1.75em;
            }

            .stdio-feature {
                font-size: 1.5em;
                margin-top: 24px;
                margin-bottom: 16px;
            }

            .studio-search {
                display: block;
                margin: 50px auto 0;
                color: g.$text-main;
                background: white;
                width: 210px;
                height: 40px;
                border: 2px solid #2d2d2d;
                cursor: pointer;
                font-family: inherit;

                // 그라디언트 선 색상
                &:hover {
                    background: linear-gradient(white, white) padding-box,
                        linear-gradient(to right, #F7A093, #135EAB) border-box;
                    border-color: transparent;
                }
            }
        }
    }
}