@use "../../App.scss" as g;

.store-page {
    .store-title {
        padding-top: 1.25em;
    }

    &.sub-page-wrap {
        margin-bottom: 0;

        .store-map-wrap {
            border: 3px solid pink;
            width: 100%;
            height: 45vw;
            position: relative;
        }

        .store-info-wrap {
            position: absolute;
            top: 1rem;
            left: 1rem;
            padding: 1rem;
            width: 30rem;
            background-color: white;
            border: 2px dashed darkblue;
            z-index: 1;

            // 매장 검색 영역
            .store-search-wrap {
                display: flex;
                position: relative;
                margin-bottom: 1rem;

                label {
                    display: flex;
                    flex: 1;
                    position: relative;
                }

                input {
                    flex: 1;
                    padding: 0.625rem 1.25rem;
                    padding-left: 1.5rem;
                    width: 100%;
                    font-family: inherit;
                    font-weight: 300;
                    font-size: 1rem;
                    border: 1px solid #c3c3c3;

                    &:focus {
                        outline: none;
                    }

                }


                .btn-search {
                    position: absolute;
                    right: 10px;
                    top: 50%;
                    transform: translateY(-50%);

                    img {
                        width: 80%;
                    }
                }
            }

            // 지역 선택 영역
            .store-select-wrap {
                @include g.myFlex($gap: 1.25rem);
                margin-bottom: 1.5rem;
                justify-content: space-between;

                >div {
                    flex: 1;
                    position: relative;
                }

                // 드롭박스 검색 버튼
                .select-btn {
                    font-family: inherit;
                    font-size: 0.75rem;
                    @include g.myFlex($jc: null, $gap: 0.5rem);
                    width: 100%;
                    padding: 0.5rem 1rem;
                    position: relative;
                    border: 1px solid #8f8f8f;
                    // border-radius: 4px;

                    &:focus {
                        outline: none;
                    }

                    .arrow {
                        position: absolute;
                        top: 50%;
                        right: 4px;
                        transform: translateY(-50%);
                    }
                }
            }
        }
    }
}

.city-list {
    position: absolute;
    background: #eee;
    padding: 20px;
    line-height: 1.5;
    width: 100%;
}