@use "../../../App.scss" as g;

.mypage-menu-list {
    border: 1px dashed black;
    padding: 1em 0;
    background-color: #eee;
    width: 400px;

    .menu-item {

        button {
            @include g.myFlex($jc: normal, $ai: center, $gap: 0);
            width: 100%;
            text-align: left;
            border: none;
            font-size: 1.125em;
            font-family: inherit;
            padding: 1.125em 1.5em;
            background-color: inherit;

            img {
                padding-right: 0.625em;
                width: 2em;
                height: 2em;
            }

            .link {
                img {
                    padding-left: 0.625em;
                    padding-right: 0;
                    width: 2em;
                    height: 2em;
                }
            }



            &:hover {
                background-color: #121212;
                color: white;
            }
        }
    }
}