// 회원카드 --------------------------
div {

    .title {
        font-size: 12px;
    }

    .content {
        font-size: 24px;
    }

    .user-card-wrap {
        // border: 3px dashed darkgoldenrod;
        // width: 524px;
        display: flex;
        justify-content: center;
        position: relative;
        margin: 20px 0 40px 0;

        >img {
            width: 24px;
            height: 24px;
            position: absolute;
            bottom: 0;
            right: 18%;
        }

        .user-card {
            width: 480px;
            height: 290px;
            background-color: #135EAB;
            border-radius: 16px;
            color: #fff;
            padding: 18px;

            // display: flex;
            // flex-direction: column;
            position: relative;

            .user-info1 {
                position: absolute;
                width: 450px;
                // border: 2px solid red;
                display: flex;
                flex-direction: column;
                gap: 48px;

                .user-card-logo {
                    width: 117px;
                    height: 40px;
                }

                .user-qr {
                    position: absolute;
                    top: 0px;
                    right: 0;
                }

                >div {
                    // border: 1px solid #fff;
                    display: flex;
                    flex-direction: column;
                    gap: 10px;
                }
            }

            .user-info2 {
                // border: 2px dashed skyblue;
                color: #fff;
                position: absolute;
                bottom: 0;
                display: flex;
                flex-direction: column;
                margin-bottom: 30px;
                gap: 5px;

                .content-wrap {
                    display: flex;
                    gap: 50px;
                    align-items: center;

                    .content {
                        // border: 2px solid red;
                        line-height: 1.5;
                    }
                }
            }
        }
    }
}

// 계정정보 --------------------------
.acount-info {
    // border: 2px solid rgb(189, 61, 83);

    p {
        display: flex;
        padding: 20px;
        gap: 60px;
        font-size: 0.85em;
    }

    label {
        position: relative;
        // width: 50%;
        width: 420px;
        // flex: 1;
        display: block;

        input {
            width: 100%;
            border: 1px solid #2F2F2F;
            // border-radius: 15px;
            height: 40px;
            padding-left: 15px;
            outline: none;
        }

        span {
            position: absolute;
            top: 50%;
            left: 15px;
            transform: translateY(-50%);
            transition: all 0.3s ease;
            pointer-events: none;
            background-color: #fff;
            padding: 0 4px;
        }

        input:focus~span,
        input:not(:placeholder-shown)~span {
            top: 0;
            transform: translateY(-50%);
            font-size: 0.75em;
            color: #101010;
        }
    }

}

.pass-notice {
    display: flex;
    flex-direction: column;
    gap: 8px;
    font-size: 0.75em;
    color: #6a6a6a;
    margin-bottom: 40px;
    padding-left: 25px;
}

.password-wrap {
    // border: 1px solid red;
    display: flex;
    flex-direction: column;
    // justify-content: center;


    .pass-change-btn {
        position: absolute;
        // margin-top: 20px;
        left: 50%;
        bottom: 0;
        transform: translateX(50%);

        button {
            border: 1px solid #000;
            background-color: #000;
            color: #fff;
            white-space: nowrap;
            padding: 10px 38px;
            font-size: 1rem;

            &:hover {
                background: #fff;
                color: #000;
                border: 1px solid #000;
            }
        }
    }
}

// 배송주소 --------------------------
.address-info {
    // border: 2px solid red;

    .postcode {
        margin-top: 10px;

        label {
            display: flex;
            gap: 20px;
            align-items: center;

            input {
                width: 420px;
            }
        }

        .address-btn button {
            background-color: #000;
            color: #fff;
            padding: 5px 12px;
            font-size: 1rem;

            &:hover {
                background: #fff;
                color: #000;
            }
        }
    }

    p {
        display: flex;
        font-size: 0.85em;
        padding: 10px 20px;

        label {
            position: relative;
            width: 100%;
            display: block;

            input {
                width: 100%;
                border: 1px solid #2F2F2F;
                // border-radius: 15px;
                height: 40px;
                padding-left: 15px;
                outline: none;
            }

            input:read-only {
                background: #eee;
                border: 1px solid #d7d7d7;
                cursor: not-allowed;

                +span {
                    background: #eee;
                }
            }



            span {
                position: absolute;
                top: 50%;
                left: 15px;
                transform: translateY(-50%);
                transition: all 0.3s ease;
                pointer-events: none;
                background: #fff;
                padding: 0 4px;

                opacity: 0;
                visibility: hidden;

                &.always {
                    opacity: 1;
                    visibility: visible;
                }
            }

            input:not(:read-only):focus~span,
            input:not(:placeholder-shown)~span {
                top: 0;
                transform: translateY(-50%);
                font-size: 0.75em;
                color: #101010;

                opacity: 1;
                visibility: visible;
            }
        }
    }

    .btn-wrap {
        display: flex;
        justify-content: center;
        padding: 50px 0 70px;

        button {
            border: 1px solid #000;
            background-color: #000;
            color: #fff;
            white-space: nowrap;
            padding: 10px 38px;
            font-size: 1rem;

            &:hover {
                background: #fff;
                color: #000;
                border: 1px solid #000;
            }
        }
    }
}

// 계정삭제 --------------------------
.delete-wrap {
    background: #eee;
    padding: 40px;
    margin-bottom: 180px;

    p {
        // padding: 10px 0;
        margin-top: 25px;
    }

    button {
        border: 2px solid #FF3535;
        background: #fff;
        font-size: 1rem;
        font-weight: bold;
        color: #FF3535;
        padding: 10px 50px;
        display: block;
        margin: 40px auto 0px;

        &:hover {
            background: #FF3535;
            color: #fff;
        }
    }
}

.input-btn {
    width: 100%;
    height: 60px;
    // margin: 50px 0;
    border: 1px solid #000;
    background: #000;
    color: #fff;
    font-size: 1rem;
    cursor: pointer;
}

.input-btn:hover {
    color: #000;
    background: #fff;
}