@use "../../../App.scss" as g;

.wish-list {
    font-family: "Pretendard", sans-serif;
    margin: g.$title-gap 0;
    display: grid;
    grid-template-columns: repeat(4, minmax(0, 1fr));
    justify-items: center;
    align-items: center;
    row-gap: 1.75em;

    li {
        padding: 0.25em;
        position: relative;
        .wish-heart{
            position: absolute;
            width: 22px;
            height: 22px;
            top: 5px;
            right: 5px;
        }
        .card-img {
            position: relative;
            width: 100%;
            // border: 1px solid purple;

            .img {
                width: 100%;
                height: auto;
                object-fit: cover;
                display: block;
            }

            .fav-icon {
                position: absolute;
                top: 0.5em;
                right: 0.5em;
                width: 1.5em;
            }
        }

        .card-info {
            width: 100%;
            margin-top: 0.5em;
            font-family: "Pretendard", sans-serif;
            // border: 1px dashed darkblue;

            .card-name {
                @include g.multi-ellipsis($lines: 1);
                line-height: 1.2;
                margin-bottom: 0.5em;
            }

            .card-price {
                @include g.multi-ellipsis($lines: 1);
                display: inline-flex;
                align-items: center;
                line-height: 1.2;
                color: g.$text-sub;
                margin-bottom: 0.5em;
            }
            .card-option{
                font-size: 0.88em;
                color: g.$text-strike;
                p{
                    span+span {
                        &::before {
                            content: "";
                            margin: 0 10px;
                            display: inline-block;
                            width: 0;
                            height: 0.8em;
                            vertical-align: middle;
                            border-left: 1px solid #999;
                        }
                    }
                }
            }
        }
    }

}