// 글자색상
$text-main: #2F2F2F;
$text-sub: #585858;
$text-sale: #FF3535;
$text-strike: #787878;

// card
$card-border: #E6E6E6;

// casetify colors
$color-beige: #F7A093;
$color-yellow: #F2E463;
$color-pink: #E5BDCE;
$color-brown: #AF9744;
$color-green: #21A664;
$color-orange: #F89462;
$color-red: #F15B41;
$color-blue: #135EAB;


@mixin myFlex($jc: space-between, $ai: center, $fw: null, $gap: 20px, $fd: null) {
    display: flex;
    justify-content: $jc;
    align-items: $ai;
    flex-wrap: $fw;
    gap: $gap;
    flex-direction: $fd;
}

body {
    font-family: "GMarketSans", sans-serif;
    color: $text-main;
}

.inner {
    max-width: 1440px;
    margin: 0 auto;
    background-color: rgba(255, 0, 0, 0.08);
}

// 서브페이지
.sub-page-wrap {
    //padding-top: 100px; //header 높이 이상 적용
    margin: 500px 0;
}